.search__page {
  margin: 0;
}

.search__header {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 1.2em;
  padding-bottom: .8em;
  z-index: 100;
  border-bottom: 1px solid rgb(190, 190, 190);
  align-items: flex-start;
}

.search__home--link {
  display: flex;
  align-items: center;
}

.search__logo--wrapper {
  display: flex;
  object-fit: contain;
  width: 8em;
  margin-right: 1.2em;
  margin-top: 0.2em;
}

.search__header--body > .search {
  margin-top: 0;
}

.search__header--body > .search > .search__input {
  margin: unset;
  max-width: unset;
  width: unset;
}

.search__header--optns {
  display: flex;
  margin-top: .8em;
}

.header__optn--left,
.header__optn--right {
  display: flex;
}

.header__optn--right {
  margin-left: 4em;
}

.header__optn {
  display: flex;
  align-items: center;
  margin-right: 1em;
  font-size: .8em;
  color: gray;
}

.header__optn--right > .header__optn {
  margin-right: 0em;
  margin-left: 1em;
}

.header__optn .MuiSvgIcon-root {
  margin-right: 0.3em;
  font-size: 1.5em;
}

/* RESULTS FROM THE SEARCH */

.search__results--count{
  margin: 1em 0;
  color: gray;
  font-size: .5em;
}

.search__result--item{
  margin: 1.2em 0;
}

.item__display--link{
  font-size: 0.5em;
}

.search__result--item > .item__title:hover{
  text-decoration: underline;
}

.search__result--item h2{
  margin-bottom: .25em;
  font-weight: 500;
}

.item__snippet{
  text-align: justify;
  color: rgb(80, 80, 80);
  font-size: .6em;
}

.item__img--wrapper{
display: flex;
align-items: center;
}

.item__img{
  object-fit: contain;
  width: 2em;
  margin-right: .5em;
}