.search__page{
  margin: 0;
}

.search__header {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 1.3em;
  z-index: 100;
  border-bottom: 1px solid rgb(190, 190, 190);
  align-items: center;
}

.search__home--link {
  display: flex;
  align-items: center;
}

.search__logo--wrapper {
  display: flex;
  object-fit: contain;
  width: 8em;
  margin-right: 1.3em;
  margin-top: 0.4em;
}

.search__header--body > .search {
  margin-top: 0;
}

.search__header--body > .search > .search__input {
  margin: unset;
  max-width: unset;
  width: unset;
}