.search__input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  width: 50vw;
  padding: 0.3em 0.2em;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 100em;
  max-width: 560px;
  transition: all 300ms ease;
}

.search__input:hover,
.search__input:hover input {
  background-color: rgb(249, 249, 249);
}

.search__input > .MuiSvgIcon-root {
  font-size: 1.6em;
  margin: 0 0.5em;
  color: rgb(92, 92, 92);
}

.search__input > input {
  flex: 1;
  padding: 0.4em;
  font-size: medium;
  border: none;
  color: rgb(92, 92, 92);
  transition: all 300ms ease;
}

.search__input > input:focus {
  outline: none;
}

.search__input > input::placeholder {
  color: rgb(166, 166, 166);
}

.search__btns {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.search__btns button {
  color: rgb(158, 158, 158);
  border: none;
  text-transform: none;
  transition: all 400ms ease;
}

.search__btns button:hover {
  font-size: 0.9em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}
